# Data science tools and Ecosystem


# Introduction
## In this notebook, Data science tool and Ecosystem are summarized

***Objectives***

- SQL
- R
- Julia

* JavaScript
* Java
* Scala

# Some of the popular languages that data scientist use are:
1. python
2. SQL
3. JAVA

## Some of the commonly used libraries by data scientists include:
1. Tensorflow
2. Pandas
3. NumPy
4. Sci-kit-learn

# Open source tool used in data science

| Data science tool |
| ----------------- |
| Apache Spark |
| Python |
|Jupyter Notebook |

### Below are few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.

(200/60)

3.3333333333333335

## Author
## Iqra